@import 'global';

.footer{
    background: $color2;
    position: relative;
    width: 100%;
    color: black;
    font-weight: bold;
    .container{
        width: 80%;
        height: 80%;
        margin: 0 auto;
    }
}