$secundary-color: lighten(#030506, 3%);
$primary-color: lighten($secundary-color, 1%);
$tertiary-color:#e6262c;

$color1: #3e5156;
$color2: #a31e1e;
$color3: #b0b0b0;
$color4: #ecd55b;
$color5: #a3a1a0;




